//* $orange-web, $green-ryb, $redwood, $cafe-noir, $dark-purple

.maincontainer {
	position: absolute;
	margin-top: 200px;
	width: 100%;
	height: 40%;
	background-color: rgba($cafe-noir, 0.7);

	display: flex;
	flex-direction: column;

	&__head {
		margin-right: 20px;
		font-size: 40px;
		color: white;
		align-self: flex-end;
	}

	&__body {
		margin: 40px 0;
		height: auto;

		&__boxes {
			display: flex;
			width: 100%;
			justify-content: flex-end;

			&__box {
				display: flex;
				min-width: 100px;
				min-height: 70px;
				width: 12vw;
				height: 12vh;
				margin: 0 1vw;

				font-size: 18px;
				font-weight: 700;
				align-items: center;
				justify-content: center;

				background-color: $dark-purple;
				color: white;

				box-shadow: 5px, 10px, 8px, 100px, black;

				&:hover {
					background-color: $redwood;
					font-size: 30px;
					cursor: pointer;
				}
			}
		}
	}

	&__footer {
		display: flex;
		width: 50%;
		margin: 0 auto;
		margin-top: 50px;

		p {
			width: 33.3%;
			color: white;
			text-align: center;
		}
	}
}
