//* $orange-web, $green-ryb, $redwood, $cafe-noir, $dark-purple

.maincontainer {
	margin-top: 200px;
	width: 100%;
	height: 40%;
	background-color: rgba($cafe-noir, 0.6);
	border-bottom: 5px rgba(58, 38, 38, 0.555) solid;

	display: flex;
	flex-direction: column;

	&__head {
		margin-right: 20px;
		font-size: 40px;
		color: white;
		align-self: flex-end;
	}

	&__body {
		margin: 40px 0;
		height: auto;

		&__boxes {
			display: flex;
			width: 100%;
			justify-content: flex-end;

			&__box {
				display: flex;
				min-width: 100px;
				min-height: 70px;
				width: 12vw;
				height: 12vh;
				margin: 0 1vw;

				font-size: 18px;
				font-weight: 700;
				align-items: center;
				justify-content: center;

				background-color: $dark-purple;
				color: white;

				border-top-left-radius: 20px;
				border-top-right-radius: 2px;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 20px;

				&:hover {
					background-color: $redwood;
					font-size: 30px;
					cursor: pointer;
				}
			}
		}
	}
}

.topspace {
	height: 8vh;
}

.bottomspace {
	height: 30vh;
}
