//* $orange-web, $green-ryb, $redwood, $cafe-noir, $dark-purple

/* SCSS HEX */
$orange-web: #ffa200ff;
$green-ryb: #4fa91bff;
$redwood: #a15e49ff;
$cafe-noir: #4e3822ff;
$dark-purple: #2f1b25ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(
	0deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-right: linear-gradient(
	90deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-bottom: linear-gradient(
	180deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-left: linear-gradient(
	270deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-top-right: linear-gradient(
	45deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-bottom-right: linear-gradient(
	135deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-top-left: linear-gradient(
	225deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-bottom-left: linear-gradient(
	315deg,
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
$gradient-radial: radial-gradient(
	#ffa200ff,
	#4fa91bff,
	#a15e49ff,
	#4e3822ff,
	#2f1b25ff
);
